* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
}
img {
  width: 100%;
}
section > div {
  width: 380px;
  height: 230px;
  overflow: hidden;
  float: left;
}
section > div > ul {
  width: 380px;
  height: 1150px;
}
section > div > ul > li {
  overflow: hidden;
}
section > ul {
  float: left;
  width: 180px;
  height: 230px;
}
section > ul > li {
  width: 180px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: url(../img/ui.png) no-repeat 0 -182px;
}
